#root {
	width: 100%;
	height: 100vh;
	text-align: center;
	font-family: "Times New Roman", Times, serif;
}
nav {
	height: 35vh;
}

.loading_screen {
	height: 100vh;
	overflow-y: hidden;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.homepageMainImage {
	width: 100%;
	height: 65vh;
}
.homepageButtonsDiv {
	width: 100%;
	top: 75vh;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	position: absolute;
}
.homepageButtonsDiv button {
	border: none;
}
.homepageButtonsDiv button:hover {
	transition: none;
	border: none;
}
.homepageButtonsDiv button a {
	color: black;
	text-decoration: none;
}

.productMainImage {
	width: 110px;
	max-height: 130px;
}
.productMainImage:hover {
	cursor: pointer;
}

.navbar {
	display: flex;
	flex-direction: column;
	align-items: start;
}
.navbarBrand {
	padding-left: 20px;
	display: flex;
	align-items: center;
}
.navbarButtonsGroup {
	width: 100%;
	padding: 0 10px 10px 10px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.navbarRightButtonsGroup {
	display: flex;
	align-items: center;
}
.navbarRightButtonsGroup * {
	padding-right: 10px;
}
.navbarLeftButtonsGroup * button {
	background-color: white;
	transition: none;
}
.navbarLeftButtonsGroup * button:hover {
	border: none;
}
.navbarIcons {
	width: 30px;
}
.second-navbar {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	background-color: rgba(242, 242, 242, 0.909);
	margin: 20px 20px 20px 20px;
	padding-left: 6vw;
	padding-right: 6vw;
	font-size: 0.75rem;
}
.second-navbar div {
	display: flex;
	justify-content: center;
	align-items: center;
}
.second-navbar div p {
	margin: 0;
	padding: 12px;
}

.footerDiv {
	position: relative;
	height: 20vh;
	padding: 130px 60px 130px 60px;
	margin: 0px 40px 0 40px;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
	border-top: 1px rgb(220, 220, 220) solid;
	margin-top: auto;
}
.socialmedia-icons {
	width: 250px;
}
.footerLeftDiv {
	display: flex;
	flex-direction: column;
}
.footerLeftDiv * {
	text-decoration: none;
	color: black;
	padding: 7px;
}
.footerLeftDiv *:hover {
	color: black;
}
.footerRightDiv {
	height: 150px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}
.acceptedCardsIcons {
	width: 60px;
}

.itemsMainDiv {
	padding-bottom: 10px;
	min-height: 65vh;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
}
.itemsMainDivTitle {
	margin: 30px;
}
.item-cardDiv {
	border-top: 1px rgb(220, 220, 220) solid;
	margin: 0 40px 0 40px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	align-content: start;
	padding-top: 75px;
	padding-bottom: 75px;
}
.item-card {
	text-decoration: none;
	color: black;
	margin: 20px 0 60px 0;
	width: 250px;
	height: 350px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
}

.cartLink * {
	height: 20px;
	display: flex;
	flex-direction: row;
}
.cartItems-length {
	text-decoration: none;
	color: black;
}
.emptyCart {
	position: absolute;
	top: 50%;
	text-align: center;
	width: 100%;
	transform: translateY(150%);
}
.mainContent {
	display: flex;
	justify-content: space-evenly;
	width: 100%;
}
.cartSummary {
	padding: 75px 10px 10px 10px;
	width: 20vw;
}
.cartItemsDiv {
	padding: 40px;
	width: 65vw;
	display: grid;
	grid-template-columns: 1fr 10fr 1fr;
	column-gap: 0;
}
.cartItemsDiv * {
	padding: 5px;
}
.cartButtons {
	display: flex;
	flex-direction: row;
	align-items: center;
}
.cartButtons button {
	height: auto;
	padding: 10px;
}
.cartButtons p {
	padding-top: 20px;
}
.cartCard {
	display: flex;
	align-items: center;
}
